.personagem-corpo {
	width: 150px;
	height: 150px;
	position: absolute;
	animation-name: personagem-rotacao;
    animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform: rotateX(150deg);
}
.personagem-corpo .circulo-vermelho {
	animation-name: circulo-animation;
    animation-duration: 3s;
	animation-iteration-count: infinite;
}
.circulo-vermelho {
	position: absolute;
	border-radius: 100%;
	border: 5px solid black;
	background-color: red;
	height: 140px;
	width: 140px;
}

.quadrado-preto {
	position: absolute;
/*  border-radius: 100%; */
	background-color: black;
	height: 120px;
	width: 120px;
	top: 15px;
	left: 15px;
}

@keyframes personagem-rotacao {
	0%   {
		transform: rotate(0);
	}
    
    100% {
		transform: rotate(360deg);
	}
/* 	from {
		transform: rotate(0);
	}
	to {
		 transform: rotate(360);
	} */
}

@keyframes circulo-animation {
	16%   {
		background-color:red;
	}
    
	49% {
		background-color:blue;
	}
	
    85% {
		background-color:yellow;
	}
/* 	from {
		transform: rotate(0);
	}
	to {
		 transform: rotate(360);
	} */
}